parameters:
  level: 9
  paths:
    - bin
    - public
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    -
      message: '#Call to static method .*::assertInstanceOf.* with .*AuthenticationException#'
      path: tests/Unit/Exception/MachineProvider/AuthenticationExceptionTest.php

    -
      message: '#Call to static method .*::assertInstanceOf.* with .*ApiLimitExceededException#'
      path: tests/Unit/Exception/MachineProvider/DigitalOcean/ApiLimitExceededExceptionTest.php

    -
      message: '#Call to static method .*::assertInstanceOf.* with .*DropletLimitExceededException#'
      path: tests/Unit/Exception/MachineProvider/DigitalOcean/DropletLimitExceededExceptionTest.php

    -
      message: '#Call to static method .*::assertInstanceOf.* with .*UnsupportedProviderException#'
      path: tests/Unit/Exception/UnsupportedProviderExceptionTest.php
