name: Integration Tests (Live)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  integration:
    name: PHP ${{ matrix.php }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.4']
    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install composer dependencies
        run: |
          composer config github-oauth.github.com "$GITHUB_TOKEN"
          composer install --no-progress --prefer-dist --optimize-autoloader
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup integration environment
        env:
          PRIMARY_DIGITALOCEAN_API_TOKEN: ${{ secrets.DIGITALOCEAN_API_TOKEN_TEST }}
          SECONDARY_DIGITALOCEAN_API_TOKEN: ${{ secrets.DIGITALOCEAN_API_TOKEN_TEST }}
          COMPOSER_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=$VERSION COMPOSER_AUTH_TOKEN=$COMPOSER_AUTH_TOKEN composer integration-setup
          docker compose -f tests/build/docker-compose.yml exec -T app touch /app/var/log/messenger.prod.log
          sleep 10

      - name: Run tests
        env:
          PRIMARY_DIGITALOCEAN_API_TOKEN: ${{ secrets.DIGITALOCEAN_API_TOKEN_TEST }}
          SECONDARY_DIGITALOCEAN_API_TOKEN: ${{ secrets.DIGITALOCEAN_API_TOKEN_TEST }}
        run: composer test-integration-live

      - name: "Debug: output messenger log ..."
        if: ${{ always() }}
        run: docker compose -f tests/build/docker-compose.yml exec -T app cat /app/var/log/messenger.prod.log
